
<head>
	<link href="/static/1207.css" rel="stylesheet" type="text/css">
  <script>
  (function(d) {
    var config = {
      kitId: 'tmn4buy',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
</head>
<meta content='width=device-width, initial-scale=1' name='viewport'/>

<head>
	<title>By yoni</title>
	
</head>
<!--<SCRIPT LANGUAGE="javascript">

var password = prompt("請輸入密碼","")
if (password=="yoni1343")
{
alert('Welcome!');
alert('請勿分享此網頁');

}
else
{
if (password=="null")
{
alert('請再輸入一次密碼');
location.href='1207';
}
else
if (password!="yoni1343")
{
alert('密碼錯誤');
location.href='/set';
}
}
</SCRIPT>-->
<style>
.font-face{
    font-family: source-han-sans-traditional, sans-serif;
    font-weight: 200;
    font-style: normal;

}
</style>
<div style="background-image: url('static/1207.jpg'); background-size:cover;">
<center>
<img src='static/12071.jpg' width="300" height = "300">
<img src='static/12072.jpg' width="300" height = "300">
<img src='static/12073.jpg' width="300" height = "300">
<img src='static/12074.jpg' width="300" height = "300">
<img src='static/12075.jpg' width="300" height = "300">
<img src='static/12076.jpg' width="300" height = "300">
<img src='static/12077.jpg' width="300" height = "300">
<img src='static/12078.jpg' width="300" height = "300">
<img src='static/12079.jpg' width="300" height = "300">
</center>
