<meta content='width=device-width, initial-scale=1' name='viewport'/>
<html id='full'>
  <title>林奕佑的告白??</title>
	<link href="/static/snow.css" rel="stylesheet" type="text/css">
  <link href="/static/4.css" rel="stylesheet" type="text/css"></head>


</center>

<body  onkeypress="full()">
  
  <div class="wrapper">
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
</div>
</body>
    

<script>
   function showalert(){
    alert("想知道林奕佑喜歡誰嗎?");
    alert("你想知道嗎?");
    alert("想知道嗎?");
    alert("好啦");
    alert("跟你講啦");
    alert("林奕佑喜歡❤李采婕");
  }
  showalert()
function full() {
  alert('林奕佑喜歡李采婕是不可否認的事實，也是國際、兩岸公認現狀');
   var elem = document.getElementById("full");
  if (elem.requestFullscreen) {
  elem.requestFullscreen();
} else if (elem.msRequestFullscreen) {
  elem.msRequestFullscreen();
} else if (elem.mozRequestFullScreen) {
  elem.mozRequestFullScreen();
} else if (elem.webkitRequestFullscreen) {
  elem.webkitRequestFullscreen();
}
  
}

 window.onbeforeunload = function () {
    return "Do you really want to close?";
    
 };
</script>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QM9997YJBV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QM9997YJBV');
    </script>
	<link href="/static/tt2.css" rel="stylesheet" type="text/css">
<div class="centered">
  <h1 class="neon-effect">林奕佑</h1>
  <h1 class="neon-effect">喜歡</h1>
  <h1 class="neon-effect">李采婕</h1>
</div>
</html>
