<meta content='width=device-width, initial-scale=1' name='viewport'/>
<head>
	<title>告白??系統統計後台</title>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
</head>
<center>
	<p>
    
		用windows來到這網站看林奕佑告白的人有
		<cb>{{win10num}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>
<center>
	<p>
    
    用安卓來到這網站看林奕佑告白的人有
		<cb>{{android}}</cb>人
	</p>
	 
</center>
<center>
	<p>
    
		用linux來到這網站看林奕佑告白的人有
		<cb>{{linuxnum}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>
<center>
	<p>
    
		用IPhone來到這網站看林奕佑告白的人有
		<cb>{{iphonenum}}</cb>人 <!--Gets the random number from the python file-->
    
	</p>
	 
</center>

<center>
	<p>
    
    your user agent:
		<cb>{{agent}}</cb>
	</p>

</center>
<center>
<script id="_wauuyo">var _wau = _wau || []; _wau.push(["dynamic", "jcw1dj862i", "uyo", "2b9ec4ffffff", "small"]);</script><script async src="//waust.at/d.js"></script>
</center>
